<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default mynav">
      <%= link_to "Wikinimous", articles_path, class: "navbar-brand navbar-header" %>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "New article", new_article_path, class: "nav-link" %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
